In [1]:
a = 2
b = 3
c = a+b

In [2]:
c

5

In [3]:
married = True
type(married)

bool

In [4]:
b * a + (a + b)

11

In [5]:
for i in range (0,10,2):
    print("I ki value", i)

I ki value 0
I ki value 2
I ki value 4
I ki value 6
I ki value 8

List: Think of a list as a collection of items that are ordered and changeable. It's like a shopping list where you can add or remove items as needed.

Tuple: A tuple is similar to a list, but it's immutable, meaning once you create it, you can't change its contents. It's like a pair of coordinates (x, y) where the values are fixed.

Dictionary: A dictionary is like a real-world dictionary, where you have words and their corresponding meanings. In programming, it's a collection of key-value pairs where you can look up a value by its associated key.

Set: A set is a collection of unique items with no particular order. It's like a bag where you can put different items, but duplicates aren't allowed.

In [6]:
a = [1,2,3,4,5,6,7,8,9]
print(a[ : : 2])

[1, 3, 5, 7, 9]

In [9]:
a = [1,2,3,4,5,6,7,8,9]
a[ : : 2] = 10,20,30,40,50,60
print(a)

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

In [10]:
a = [1,2,3,4,5]
print(a[3 : 0 : -1])

[4, 3, 2]

In [11]:
def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])

3 44

LIST

In [12]:
favorite_fruits = ["apple", "banana", "strawberry", "kiwi", "mango"]

In [13]:
favorite_fruits

['apple', 'banana', 'strawberry', 'kiwi', 'mango']

In [14]:
print(favorite_fruits[1])

banana

In [15]:
favorite_fruits.append("pineapple")
print(favorite_fruits)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'pineapple']

In [16]:
removed_fruit = favorite_fruits.pop(2)
print("Removed fruit:", removed_fruit)
print("Updated list:", favorite_fruits)

Removed fruit: strawberry
Updated list: ['apple', 'banana', 'kiwi', 'mango', 'pineapple']

In [17]:
print("Length of the list:", len(favorite_fruits))

Length of the list: 5

In [53]:
favorite_fruits[::-1]

['pineapple', 'mango', 'kiwi', 'banana', 'apple']

In [18]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
print(numbers[0])

1

In [20]:
print(numbers[:3])

[1, 2, 3]

In [21]:
print(numbers[6:3])

[]

In [22]:
print(numbers[-3:])

[8, 9, 10]

In [23]:
print(numbers[0:10:2])

[1, 3, 5, 7, 9]

In [24]:
print(numbers[::2])

[1, 3, 5, 7, 9]

In [25]:
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
print(numbers[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
print(numbers[0:10:1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
print(numbers[::2])

[1, 3, 5, 7, 9]

In [29]:
print(numbers[0:10:2])

[1, 3, 5, 7, 9]

In [30]:
print(numbers[:2:])

[1, 2]

In [31]:
print(numbers[0:2:])

[1, 2]

In [32]:
print(numbers[0::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
print(numbers[2::])

[3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
reversed_numbers = numbers[::-3]
print(reversed_numbers)

[10, 7, 4, 1]

In [41]:
newlist = numbers+favorite_fruits

In [45]:
newlist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'apple',
 'banana',
 'kiwi',
 'mango',
 'pineapple']

In [43]:
newlist = numbers[]+favorite_fruits[]
newlist

SyntaxError: invalid syntax (308181552.py, line 1)

In [46]:
newlist = favorite_fruits+numbers

In [47]:
newlist

['apple',
 'banana',
 'kiwi',
 'mango',
 'pineapple',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [49]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [50]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
matrix.index(1)

ValueError: 1 is not in list

In [54]:
# Create a list of numbers from 1 to 10
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Replace the third element (index 2) with the number 20
numbers[2] = 20

# Print the updated list
print(numbers)

[1, 2, 20, 4, 5, 6, 7, 8, 9, 10]

Remove the last element from the list.

In [55]:
numbers.pop(9)

10

In [56]:
numbers

[1, 2, 20, 4, 5, 6, 7, 8, 9]

Insert the number 15 at index 2.

In [57]:
numbers[2]=15

In [58]:
numbers

[1, 2, 15, 4, 5, 6, 7, 8, 9]

In [59]:
numbers.sort()

In [60]:
numbers

[1, 2, 4, 5, 6, 7, 8, 9, 15]

In [61]:
weekdays =["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

In [62]:
weekdays

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [63]:
print("Days of the week:", weekdays)

Days of the week: ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [64]:
print("firsr 3 days of week", weekdays[0:3:1])

firsr 3 days of week ['sunday', 'monday', 'tuesday']

In [65]:
print("First three days of the week:", weekdays[:3])

First three days of the week: ['sunday', 'monday', 'tuesday']

In [70]:
print("last 2 days of week", weekdays[-2:])

last 2 days of week ['friday', 'saturday']

In [73]:
print("every other days of week", weekdays[::2])

every other days of week ['sunday', 'tuesday', 'thursday', 'saturday']

In [74]:
# Create a list of lists representing students' grades in three subjects
grades = [
    [85, 90, 92],  # Grades of the first student
    [78, 80, 85],  # Grades of the second student
    [92, 88, 90]   # Grades of the third student
]

# Print the list of grades
print("List of grades:", grades)

List of grades: [[85, 90, 92], [78, 80, 85], [92, 88, 90]]

In [1]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
words = ["apple", "banana", "orange", "kiwi", "grape"]
word_lengths = [len(word) for word in words]
print(word_lengths)

[5, 6, 6, 4, 5]

In [4]:
# Create two lists
list1 = [3, 7, 2, 9, 1]
list2 = [5, 8, 4, 6]

# Merge the two lists into one
merged_list = list1 + list2

# Sort the merged list
sorted_merged_list = sorted(merged_list)

print(sorted_merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
original_list = [1, 2, 3, 2, 4, 5, 1]

# Remove duplicates
unique_list = list(set(original_list))

print(unique_list)

[1, 2, 3, 4, 5]

In [6]:
numbers = [5, 3, 8, 2, 9, 1]

# Calculate the sum
total_sum = sum(numbers)

# Find the maximum value
max_value = max(numbers)

# Find the minimum value
min_value = min(numbers)

print("Sum:", total_sum)
print("Maximum:", max_value)
print("Minimum:", min_value)

Sum: 28
Maximum: 9
Minimum: 1

In [9]:
original_list = [1, 2, 3, 4, 5]

# Reverse the list using list slicing
reversed_list = original_list[::-1]

print(reversed_list)

[5, 4, 3, 2, 1]

In [10]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Print diagonal elements
for i in range(len(matrix)):
    print(matrix[i][i])

1
5
9

In [11]:
# Define a nested list
nested_list = [[1, 2, 3], [4, 5], [6, [7, 8], 9]]

# Function to flatten a nested list
def flatten_list(nested_list):
    flattened = []
    for element in nested_list:
        if isinstance(element, list):
            flattened.extend(flatten_list(element))
        else:
            flattened.append(element)
    return flattened

# Flatten the nested list
flat_list = flatten_list(nested_list)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
matrix = [[1, 2, 3],
          [4, 5, 6]]

print(matrix)

[[1, 2, 3], [4, 5, 6]]

In [2]:
matrix = [[1, 2, 3],
          [4, 5, 6]]

element = matrix[1][0]
print(element)

4

In [3]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[i][1])

2
5
8

In [4]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[i][0])

1
4
7

In [5]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[i][2])

3
6
9

In [6]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[0][i])

1
2
3

In [7]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[1][i])

4
5
6

In [8]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[2][i])

7
8
9

In [9]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[i][-1])

3
6
9

In [10]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[-1][-1])

9
9
9

In [11]:
# Create a matrix (nested list)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(matrix)):
    print(matrix[-1][i])

7
8
9

TUPLES

In [12]:
colors = ("red", "green", "blue")
print(colors)

('red', 'green', 'blue')

In [13]:
colors = ("red", "green", "blue")
second_color = colors[1]
print(second_color)

green

In [14]:
coordinates = (3, 5)
print(coordinates)

(3, 5)

Print the x coordinate from the coordinates tuple.

In [16]:
print(coordinates[0])

3

In [17]:
person = ("John", 30)
print(person)

('John', 30)

In [18]:
person = ("John", 30)
name, age = person
print("Name:", name)
print("Age:", age)

Name: John
Age: 30

In [19]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [20]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')

In [21]:
#Concatenate tuple1 and tuple2 into a new tuple called combined_tuple.
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

combined_tuple = tuple1 + tuple2
print("Combined Tuple:", combined_tuple)

Combined Tuple: (1, 2, 3, 'a', 'b', 'c')

In [22]:
numbers = (5, 10, 15, 20, 25)
print("Numbers Tuple:", numbers)

Numbers Tuple: (5, 10, 15, 20, 25)

In [23]:
numbers = (5, 10, 15, 20, 25, 10, 10)
count_10 = numbers.count(10)
print("Number of occurrences of 10:", count_10)

Number of occurrences of 10: 3

In [24]:
numbers = (5, 10, 15, 20, 25)
index_15 = numbers.index(15)
print("Index of 15:", index_15)

Index of 15: 2

In [26]:


nested_tuple = ((1, 2, 3),
                (4, 5, 6))

print("Nested Tuple:")
for row in nested_tuple:
    print(row)

Nested Tuple:
(1, 2, 3)
(4, 5, 6)

In [28]:

nested_tuple = ((1, 2, 3),
                (4, 5, 6))

element = nested_tuple[1][0]
print("Element in the second row and first column:", element)

Element in the second row and first column: 4

In [29]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A"
}

print(student)

{'name': 'John', 'age': 20, 'grade': 'A'}

In [30]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A"
}

print("Name of the student:", student["name"])

Name of the student: John

In [31]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A"
}

# Adding city to the student dictionary
student["city"] = "New York"

print(student)

{'name': 'John', 'age': 20, 'grade': 'A', 'city': 'New York'}

In [32]:
student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "city": "New York"
}

# Updating the age of the student
student["age"] = 21

print(student)

{'name': 'John', 'age': 21, 'grade': 'A', 'city': 'New York'}

In [33]:
student = {
    "name": "John",
    "age": 21,
    "grade": "A",
    "city": "New York"
}

# Removing the "grade" key using the pop() method
student.pop("grade")

print(student)

{'name': 'John', 'age': 21, 'city': 'New York'}

In [34]:
student = {
    "name": "John",
    "age": 21,
    "grade": "A",
    "city": "New York"
}

# Removing the "grade" key using the del keyword
del student["grade"]

print(student)

{'name': 'John', 'age': 21, 'city': 'New York'}

In [35]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

print(fruits)

{'apple': 10, 'banana': 5, 'orange': 8}

In [36]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

# Printing all the keys in the fruits dictionary
print("Keys in the fruits dictionary:", fruits.keys())

Keys in the fruits dictionary: dict_keys(['apple', 'banana', 'orange'])

In [37]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

# Printing all the values in the fruits dictionary
print("Values in the fruits dictionary:", fruits.values())

Values in the fruits dictionary: dict_values([10, 5, 8])

In [39]:
fruits = {
    "apple": 10,
    "banana": 5,
    "orange": 8
}

# Printing all the key-value pairs in the fruits dictionary
print("Key-value pairs in the fruits dictionary:", fruits.items())

Key-value pairs in the fruits dictionary: dict_items([('apple', 10), ('banana', 5), ('orange', 8)])

In [40]:
person = {
    "name": "John",
    "address": {
        "city": "New York",
        "zipcode": "10001"
    }
}

print(person)

{'name': 'John', 'address': {'city': 'New York', 'zipcode': '10001'}}

In [41]:
person = {
    "name": "John",
    "address": {
        "city": "New York",
        "zipcode": "10001"
    }
}

# Accessing the city of the person
city = person["address"]["city"]
print("City of the person:", city)

City of the person: New York

In [42]:
person = {
    "name": "John",
    "address": {
        "city": "New York",
        "zipcode": "10001"
    }
}

# Printing the city of the person directly
print("City of the person:", person["address"]["city"])

City of the person: New York

In [43]:
# Using dictionary comprehension to create the squares dictionary
squares = {num: num ** 2 for num in range(1, 6)}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

SET

In [44]:
colors = {"red", "blue", "green", "yellow"}
print(colors)

{'green', 'blue', 'yellow', 'red'}

In [45]:
colors = {"red", "blue", "green", "yellow"}
print("Elements of the set:", colors)

Elements of the set: {'green', 'blue', 'yellow', 'red'}

In [46]:
colors = {"red", "blue", "green"}
colors.add("yellow")
print(colors)

{'green', 'blue', 'yellow', 'red'}

In [47]:
colors = {"red", "blue", "green", "yellow"}
colors.remove("blue")
print(colors)

{'green', 'yellow', 'red'}

In [48]:
secondary_colors = {"orange", "green", "purple"}
print(secondary_colors)

{'green', 'purple', 'orange'}

In [49]:
colors = {"red", "blue", "green", "yellow"}
secondary_colors = {"orange", "green", "purple"}

intersection_set = colors.intersection(secondary_colors)
print("Intersection using intersection() method:", intersection_set)

Intersection using intersection() method: {'green'}

In [50]:
intersection_set = colors & secondary_colors
print("Intersection using '&' operator:", intersection_set)

Intersection using '&' operator: {'green'}

In [51]:
colors = {"red", "blue", "green", "yellow"}
secondary_colors = {"orange", "green", "purple"}

union_set = colors.union(secondary_colors)
print("Union using union() method:", union_set)

Union using union() method: {'red', 'purple', 'green', 'yellow', 'blue', 'orange'}

In [52]:
union_set = colors | secondary_colors
print("Union using '|' operator:", union_set)

Union using '|' operator: {'red', 'purple', 'green', 'yellow', 'blue', 'orange'}


To find the difference between the colors set and the secondary_colors set (i.e., elements that are in colors but not in secondary_colors), you can use the difference() method or the - operator. Here's how you can do it using both methods:

In [53]:
colors = {"red", "blue", "green", "yellow"}
secondary_colors = {"orange", "green", "purple"}

difference_set = colors.difference(secondary_colors)
print("Difference using difference() method:", difference_set)

Difference using difference() method: {'red', 'yellow', 'blue'}

In [54]:
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [55]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [56]:
numbers = {1, 2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

In [57]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [58]:
squares = {x ** 2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}